#app {
    transition: 2.3s;
}

.appinativo {
    opacity: 0;
}

.appativo {
    opacity: 1;
}

.blue {
    border-color: #0f4a96;
}

.blue > .panel-heading {
    color: #ffffff;
    background-color: #0f4a96;
    border-color: #d0e5ff;
}

.bg-aqua {
    background-color: #00c0ef !important;
    color: #ffffff;
}

.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    &:hover {
        .icon {
            font-size: 95px;
        }
    }
}

.small-box > .inner {
    padding: 10px;
}

.small-box h3, .small-box p {
    z-index: 5;
    color: #fff;
}

.small-box p {
    font-size: 15px;
}

.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}

.small-box .icon {
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0,0,0,0.15);
}

.small-box > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255,255,255,0.8);
    display: block;
    z-index: 10;
    background: rgba(0,0,0,0.1);
    text-decoration: none;
    &:hover {
        color: #fff;
        background: rgba(0,0,0,0.15);
    }
}

.titulos-lista-itens {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.btn-cria-teste {
    color: green;
}